#header1 {
    list-style: none;
    text-decoration: none;
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;
    font-size: 16px;
    justify-content: space-evenly;
}

#header {
    margin-bottom: 20px;
    margin-top: -1%;
    position: relative;
    justify-content: space-evenly;
    background-image: url("asset/Homepage-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -1%;
    margin-right: -1%;
}

#fill {
    margin: 0px 10%;
}

#overlay0 {
    background-color: rgba(60, 34, 102, 0.5);
    padding-top: 1%;
}

#register img {
    width: auto;
    height: 35px;
    margin-bottom: 2px;
}

#Doto-2 {
    font-family: Bld;
    text-align: center;
    color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 54px;
}

#header1 img {
    height: 35px;
    width: auto;
}

#header1 a {
    text-decoration: none;
    position: relative;
    color: #FFFFFF;
    font-family: poppins;
    font-weight: 600;
    line-height: 30px;
    width: 200px;
    font-size: 18px;
}

#header a:hover {
    color: lightgray;
}


#register {
    border-style: solid;
    border-color: white;
    list-style: none;
    display: flex;
    text-align: center;
    border-radius: 5px;
    position: relative;
    padding: 5px;
    padding-left: 6px;
    bottom: 10px;
    margin-left: 10%;
}
#register img{
    padding-left: 10px;
}
#register a {
    top: 2px;
    font-size: 24px;
}

#footer {
    margin-top: 75px;
    position: relative;
    background: #3c2266;
    right: 1%;
    width: 102%;
    padding-top: 1px;
}

#Logo {
    padding-top: 5px;
    position: relative;
    text-align: center;
}

#Logo img {
    width: 250px;
    height: auto;
}

#Social-Media {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    margin: 0px 40%;
}

#Social-Media img{
    width: 45px;
    height: auto;
}

#copyright {
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    #logo {
        position: relative;
        margin-top: 7px;
    }
    #header1 {
        list-style: none;
        text-decoration: none;
        display: flex;
        position: relative;
        width: 100%;
        margin-top: 30px;
        font-size: 12px;
        justify-content: space-evenly;
    }
    
    #header {
        margin-bottom: 20px;
        margin-top: -1%;
        position: relative;
        justify-content: space-evenly;
        background-image: url("asset/Homepage-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        right: 1%;
        width: 102%;
    }
    
    #overlay0 {
        width: 102%;
        background-color: rgba(60, 34, 102, 0.5);
        right: 1%;
        padding-top: 1%;
    }
    
    #Doto-2 {
        text-align: center;
        color: #FFFFFF;
        padding-top: 2%;
        padding-bottom: 5%;
        font-size: 15px;
    }
    
    #header1 img {
        height: 16px;
        width: auto;
    }
    
    #header1 a {
        text-decoration: none;
        position: relative;
        color: #FFFFFF;
        font-family: poppins;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
        width: 100px;
        font-size: 12px;
    }
    
    #header a:hover {
        color: lightgray;
    }
    
    #register {
        border-style: solid;
        border-color: white;
        list-style: none;
        display: flex;
        text-align: center;
        border-radius: 5px;
        position: relative;
        padding: 5px;
        padding-left: 7px;
    }
    
    #register a {
        font-size: 13px;
    }
    
    #register img {
        width: auto;
        height: 16px;
        margin-top: 7%;
    }
    
    #footer {
        margin-top: 32px;
        position: relative;
        background: #3c2266;
        right: 1%;
        width: 102%;
        padding-top: 1px;
    }
    
    #Logo {
        padding-top: 5px;
        position: relative;
        text-align: center;
    }
    
    #Logo img {
        width: 125px;
        height: auto;
    }
    
    #Social-Media {
        display: flex;
        justify-content: space-evenly;
        padding-top: 10px;
        margin: 0px 50%;
    }

    #Social-Media img{
        width: 30px;
        height: auto;
    }

    #copyright {
        color: #FFFFFF;
        text-align: center;
        padding: 10px 0px;
        font-size: 8px;
    }

}