@font-face {
    font-family: Poppins;
    src: url("asset/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: semibold;
    src: url("asset/Poppins/Poppins-SemiBoldItalic.ttf");
}

@font-face {
    font-family: Bld;
    src: url("asset/Poppins/Poppins-Bold.ttf");
}

body {
    font-family: Poppins;
    background: rgba(148, 130, 255, 0.4);
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

#header {
    margin-bottom: 20px;
    margin-top: -1%;
    position: relative;
    justify-content: space-evenly;
    background-image: url("asset/Homepage-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 1%;
    width: 102%;
}

#overlay0 {
    width: 101%;
    background-color: rgba(60, 34, 102, 0.5);
    right: 1%;
    padding-top: 1%;
}

#header1 {
    list-style: none;
    text-decoration: none;
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 30px;
    font-size: 16px;
    justify-content: space-evenly;
}
#header1 a {
    text-decoration: none;
    position: relative;
    color: #FFFFFF;
    font-family: poppins;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    width: 200px;
}
#header1 img {
    height: 35px;
    width: auto;
}

#header a:hover {
    color: lightgray;
}
#register {
    border-style: solid;
    border-color: white;
    list-style: none;
    display: flex;
    text-align: center;
    border-radius: 5px;
    position: relative;
    font-size: 25px;
    padding: 5px;
    bottom: 10px;
    margin-left: 10%;
}

#register img {
    width: auto;
    height: 35px;
    margin-bottom: 2px;
    padding-left: 10px;
}
#register a {
    top: 2px;
    font-size: 24px;
}

#Doto-2 {
    text-align: center;
    color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 30px;
}

#Doto-2 {
    font-size: 54px;
    font-family: Bld;
    font-weight: bold;
}

hr {
    color: #9482FF;
    margin: 0px 35%;
    border: solid 2px;
}

#footer {
    margin-top: 75px;
    position: relative;
    background: #3c2266;
    right: 1%;
    width: 102%;
    padding-top: 1px;
}

#Rectangle {
    width: 20%;
    left: 40%;
    height: 50px;
    background-color: #9482ff;
    position: relative;
    margin-top: 10px;
}

#Social-Media {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    margin: 0px 40%;
}

#copyright {
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0px;
    font-size: 15px;
}