*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("asset/Homepage-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.master-container{
    width: 80%;
    position: relative;
    margin: 0 auto;
    /* background-image: url("asset/Homepage-background.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
}
.navbar{
    position: relative;
    height: 75px;
    display: block;
    background-color: rgba(60, 34, 102,0.5);
}
.left-header{
    margin-top: 10px;
    float: left;
    width: 70%;
}
.left-header img{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    float: left;
}
.link-btn{
    font-size: 16px;
    float: left;
    font-weight: bold;
    padding: 10px 10px;
    margin-top: 5px;
    margin-left: 10px;
}
.link-btn a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.link-btn a:hover{
    color: lightgray;
}
.right-header{
    float: right;
    width: 30%;
}
.right-header-link{
    margin-top: 10px;
    float: right;
    padding: 10px 10px;
    border: 3px solid white;
    top: 10px;
    float: right;
    font-weight: bold;
    color: white;
}
.right-header-link:hover{
    border: 3px solid lightgray;
    color: lightgray;
}
.register-btn{
    font-size: 16px;
}
.register-btn img{
    float: left;
    height: 20px;
    width: 20px;
    margin: 0 5px;
}

.content{
    background-image: url("/asset/Homepage-background.jpg");
    background-size: cover;
    font-size: 100px;
}

@media screen and(max-width: 1000px) {
    /* this interactive still fails*/
    .body{
        background-color: red;
    }
}